<%- include("partials/header.ejs", { cssList: ["style", "addAlarme" ], title: "EDITAR" }) -%>
  <main>
    <form action="/pessoa/lista/<%= listaId%>/alarme/<%= alarme.id %>/update" method="post">
      <div class="btns-horario">
        <div class="horario">
          <img src="/svg/png/plus.png" id="btn-aumentar-horas" alt="">
           <input type="time" name="horario" id="tempo" value="<%= alarme.horario %>">
           <img src="/svg/png/plus.png" id="btn-aumentar-minutos" alt="">
        </div>
      </div>
    <input type="text" id="tarefa"  name="acao" value="<%= alarme.acao %>">
    <div class="dias_da_semana">
      <div class="op">
      <label for="segunda">SEGUNDA-FEIRA</label>
     <input type="checkbox" value="0" name="dias[]" id="segunda" placeholder="Segunda" <% if (alarme.diaDaSemana.includes(0)) { %> checked <% } %>>
    </div>
    <div class="op">
      <label for="terca">TERÇA-FEIRA</label>
      <input type="checkbox" name="dias[]" value="1" id="terca" <% if (alarme.diaDaSemana.includes(1)) { %> checked <% } %>>
  </div>
  <div class="op">
      <label for="quarta">QUARTA-FEIRA</label>
      <input type="checkbox" name="dias[]" value="2" id="quarta" <% if (alarme.diaDaSemana.includes(2)) { %> checked <% } %>>
  </div>
  <div class="op">
      <label for="quinta">QUINTA-FEIRA</label>
      <input type="checkbox" name="dias[]" value="3" id="quinta" <% if (alarme.diaDaSemana.includes(3)) { %> checked <% } %>>
  </div>
  <div class="op">
      <label for="sexta">SEXTA-FEIRA</label>
      <input type="checkbox" name="dias[]" value="4" id="sexta" <% if (alarme.diaDaSemana.includes(4)) { %> checked <% } %>>
  </div>
  <div class="op">
      <label for="sabado">SÁBADO</label>
      <input type="checkbox" name="dias[]" value="5" id="sabado" <% if (alarme.diaDaSemana.includes(5)) { %> checked <% } %>>
  </div>
  <div class="op">
      <label for="domingo">DOMINGO</label>
      <input type="checkbox" name="dias[]" value="6" id="domingo" <% if (alarme.diaDaSemana.includes(6)) { %> checked <% } %>>
  </div>
    </div>
  <input type="file" name="som" id="som">

    <div class="btns">
    <input type="submit" id="editar" value="Editar"></input>
    <a href="/pessoa/lista/<%= listaId%>/alarme/<%= alarme.id %>/delete" id="deletar">Deletar</a>
    </div>
</form>
</main>
<%- include('partials/footer', { jsList: ["changeTime"] }) -%>
</div>

